{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Edit {{ category.getCategoryname() }}</h1>

    <form method="post">
        <input type="text" name="categoryname" value="{{ category.getCategoryname() }}">
        <button>Save</button></form></br>
        <a href="/db/editcategory/0">Add category</a>
    </form>
{% endblock %}
